.checkboxmargin{
    margin-left:2px !important;
}
.branchmanagers-dashboard{
    background-color: #FF3D00 !important;
    color: #ffffff;
}
.passengers-dashboard{
    background-color: #CDDC3A !important;
    color: #ffffff;
}
.bookings-dashboard{
    background-color: #9D27B0 !important;
    color: #ffffff;
}
.drivers-dashboard{
    background-color: #FF9800 !important;
    color: #ffffff;
}
.zones-dashboard{
    background-color: #1B237E !important;
    color: #ffffff;
}
.transactions-dashboard{
    background-color: #E91F63 !important;
    color: #ffffff;
}
.admin-setting-dashboard{
    background-color: #33691e !important;
    color: #ffffff;
}