<div class="phonebooks index">
	<h2><?php echo __('Phonebooks'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('number'); ?></th>
			<th><?php echo $this->Paginator->sort('rent'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($phonebooks as $phonebook): ?>
	<tr>
		<td><?php echo h($phonebook['Phonebook']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($phonebook['User']['name'], array('controller' => 'users', 'action' => 'view', $phonebook['User']['id'])); ?>
		</td>
		<td><?php echo h($phonebook['Phonebook']['number']); ?>&nbsp;</td>
		<td><?php echo h($phonebook['Phonebook']['rent']); ?>&nbsp;</td>
		<td><?php echo h($phonebook['Phonebook']['created']); ?>&nbsp;</td>
		<td><?php echo h($phonebook['Phonebook']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $phonebook['Phonebook']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $phonebook['Phonebook']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $phonebook['Phonebook']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $phonebook['Phonebook']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Phonebook'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
