.container.formpart{
	width: 990px !important;
	margin: auto;
	position: relative;
}

#headline{
	font-size: 2.5em !important;
}
.form-group input{
	height: 30px;	
background: -o-linear-gradient(top,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d9a853', endColorstr='#eddcaa54',GradientType=0 ); /* IE6-9 */

}
.col-md-8 input{
	height: 30px;	
background: -o-linear-gradient(top,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d9a853', endColorstr='#eddcaa54',GradientType=0 ); /* IE6-9 */


}
.col-md-7 input {
	height: 30px;	
background: -o-linear-gradient(top,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(217,168,83,0.96) 0%,rgba(220,170,84,0.93) 93%,rgba(220,170,84,0.93) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d9a853', endColorstr='#eddcaa54',GradientType=0 ); /* IE6-9 */
}

.popup {
	border-radius: 50px;
}
.form-control {
	display: block !important;
}
#social-icons {
	padding-left: 59px !important;
}
#overlay{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background:#000;
    z-index: 10;
     filter: alpha(opacity=50);
     display: none;
}
.checkbox input[type=checkbox]{
	visibility: visible;
	opacity: 0;
	filter: alpha(opacity=0);
}
.checkbox input[type=checkbox]:focus{
	outline: none;
}

#intro{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/header.jpg', sizingMethod='scale');
}
#second{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/booking.jpg', sizingMethod='scale');
}
#third{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/download.jpg', sizingMethod='scale');
}
.form-inline.texi-form, .separator.upper{
	display: inline-block;
}
.separator.upper .form-group{
	width: 450px;
	float: left;
	display: inline-block;
}
.separator.upper .form-group img{	
	float: left;	
}
.separator.upper .form-group label{
	width: 100px;
	float: left;
	display: block;
	vertical-align: top;
}
.separator.upper .form-group.lc{
	width: auto;
}