<div class="acls index">
	<h2><?php echo __('Acls'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('permission_name'); ?></th>
			<th><?php echo $this->Paginator->sort('permission_key'); ?></th>
			<th><?php echo $this->Paginator->sort('orderid'); ?></th>
			<th><?php echo $this->Paginator->sort('parent'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($acls as $acl): ?>
	<tr>
		<td><?php echo h($acl['Acl']['id']); ?>&nbsp;</td>
		<td><?php echo h($acl['Acl']['permission_name']); ?>&nbsp;</td>
		<td><?php echo h($acl['Acl']['permission_key']); ?>&nbsp;</td>
		<td><?php echo h($acl['Acl']['orderid']); ?>&nbsp;</td>
		<td><?php echo h($acl['Acl']['parent']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $acl['Acl']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $acl['Acl']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $acl['Acl']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $acl['Acl']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Acl'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Roles'), array('controller' => 'roles', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Role'), array('controller' => 'roles', 'action' => 'add')); ?> </li>
	</ul>
</div>
