<div class="pwreset">
	<?php echo $this->Form->create('User'); ?>
	<fieldset>
		<legend><?php echo __('forgot password'); ?></legend>
		<?php
			echo $this->Form->input('login');

		?>
	</fieldset>
	<?php echo $this->Form->end('submit'); ?>
</div>