<div class="users form">
<?php echo $this->Form->create('User');?>
	<fieldset>
		<legend><?php echo __('Login'); ?></legend>
	<?php		
		echo $this->Form->input('email');
		echo $this->Form->input('password'); 
		echo $this->Form->end('submit');
	?>
	</fieldset>
</div>