<?php echo $this->Html->script('search_bar');?>
<div class="users form">
<?php echo $this->Form->create('User'); ?>
	<fieldset>
		<legend><?php echo __('Bar a driver'); ?></legend>
	<?php
		echo $this->Form->input('name');
		echo $this->Form->input('badge_no');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>